################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Supercharger/HATAsset_Portable
/HatAsset/bin/Debug
/HatAsset/obj/Debug
/.vs/HatAsset/v14
/HATAsset_Portable/obj/Debug
/TestApp/bin/Debug
/TestApp/obj/Debug
/.vs/Supercharger/TestApp
/.vs/Supercharger
/HATAsset_Portable/bin/Debug
